/* body{
  font-family: "Circular";
  font-weight: 400;
} */

/* Personalizzazione della navbar */
/* .vertical-navbar {
    top: 0;
    left: 0;
    bottom: 0;
  } */
  
  .card-sm {
    max-width: 200px; /* Dimensioni più piccole */
    transition: transform 0.3s; /* Effetto di transizione */
  }
  
  .card-sm:hover {
    transform: scale(1.05); /* Effetto di ingrandimento al passaggio del mouse */
  }





  body {
    box-sizing: border-box;
    overflow: hidden;
  }
  .bg-color-grey {
    background-color: #121212;
  }
  
  .bg-color-buttons-grey {
    background-color: #2a2a2a;
  }
  
  .bg-color-buttons-grey:hover {
    background-color: #353434;
  }
  
  /* Stile degli elementi della navbar */
  .vertical-navbar .nav-link {
    color: #fff; /* Colore del testo */
  }
  
  /* Stile delle icone nella navbar */
  .vertical-navbar .nav-link i {
    font-size: 30px; /* Dimensione delle icone */
  }
  
  .linkhover:hover {
    cursor: pointer;
    opacity: 1;
    color: white;
  }
  .linkhover {
    opacity: 0.8;
  }
  
  .cardhover {
    background-color: #181717;
  }
  
  .cardhover:hover {
    background-color: #292727;
  }
  
  .hoverDropdown:hover {
    background-color: grey;
    opacity: 0.9;
  }
  
  .artistiNav {
    width: 400px;
    height: 80px;
  }
  
  nav img {
    height: 50px;
    width: 50px;
    border-radius: 80%;
  }
  
  /* music player */
  
  .music-player {
    --primary-color: #ddd;
    --secondary-color: #999;
    --green-color: #2d5;
    --padding: 1em;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
    height: 7rem;
    padding: var(--padding);
    color: var(--primary-color);
  }
  i {
    color: var(--secondary-color);
  }
  i:hover {
    color: var(--primary-color);
  }
  .song-bar {
    position: absolute;
    left: var(--padding);
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 25%;
  }
  
  .song-infos {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .image-container {
    --size: 4.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
  }
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .song-description p {
    margin: 0.2em;
  }
  .title,
  .artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .title:hover,
  .artist:hover {
    text-decoration: underline;
  }
  .artist {
    color: var(--secondary-color);
  }
  .icons {
    display: flex;
    gap: 1em;
  }
  .progress-controller {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    color: var(--secondary-color);
  }
  .control-buttons {
    display: flex;
    align-items: center;
    gap: 2em;
  }
  .play-pause {
    display: inline-block;
    padding: 1em;
    background-color: var(--primary-color);
    color: #111;
    border-radius: 50%;
  }
  .play-pause:hover {
    transform: scale(1.1);
    color: #111;
  }
  .progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .progress-bar {
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: #ccc4;
  }
  .progress {
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: var(--secondary-color);
  }
  .progress-bar:hover .progress {
    background-color: var(--green-color);
  }
  .progress-bar:hover .progress::after {
    content: "";
    position: absolute;
    --size: 1em;
    width: var(--size);
    height: var(--size);
    right: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translate(50%, calc(2px - 50%));
  }
  .other-features {
    position: absolute;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  .volume-bar {
    display: flex;
    align-items: center;
    gap: 0.7em;
  }
  .volume-bar .progress-bar {
    width: 6em;
  }
  .volume-bar .progress-bar:hover .progress::after {
    --size: 0.8em;
  }